{% extends "base.html" %}
{% block robots %}
{% if article.robots %}{{ article.robots }}{% else %}index,follow{% endif %}
{% endblock %}
{% block head_description %}
{% if article.summary %}
{{ article.summary|striptags }}
{% endif %}
{% endblock head_description %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block meta_tags_in_head %}
{% if article.tags and article.category %}
  <meta name="keywords" content="{{ [article.tags|join(', '), article.category]|join(', ') }}" />
{% endif %}
{% if article.category %}
  <meta name="category" content="{{ article.category|striptags }}" />
{% endif %}
{% if article.description %}
  <meta name="description" content="{{ article.description|striptags }}" />
  <meta property="og:description" content="{{ article.description|striptags }}"/>
{% elif article.summary %}
  <meta name="description" content="{{ article.summary|striptags  }}" />
  <meta property="og:description" content="{{ article.summary|striptags }}"/>
{% endif %}
{% if article.author %}
  <meta name="author" content="{{ article.author }}" />
  <meta name="copyright" content="{{ article.author }}" />
{% endif %}
{% if article.date %}
  <meta name="date" content="{{ article.date }}">
{% endif %}

{% endblock meta_tags_in_head %}  
{% block scripts %}
  <script type="text/javascript" src="./scripts/comments.js"></script>
{% endblock scripts %}
{% block content %}
<section id="content" class="body">
  <article>

    {% if article.cover_image_url %}
    <img src="{{ article.cover_image_url }}" alt="Cover image">
    <br>
    {% endif %}

    <header>
      <h1 class="entry-title">
        <a href="{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h1>
      {% include 'twitter.html' %}
    </header>    

    <div class="entry-content">
      {% include 'article_infos.html' %}
      <br>
      {{ article.content }}
    </div> 

  </article>
</section>

<form id="comments" class="body">  
  <h2 class="comments-header">Comments</h2>
  <label for="add-comment-container">Add a comment</label>
  <div class="add-comment-container">
    <label for="comment-name">Name (*)</label>
    <input type="text" id="comment-name" required>

    <label for="add-comment">Comment (*)</label>
    <textarea id="add-comment" class="comments-entry" required></textarea>

    <button class="comment-submit">Submit</button>
  </div>
</form>
{% endblock %}
